<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<title>MARKETFUL_RAFA</title>
	<link rel="stylesheet" type="text/css" href=".../stylesheet/application.css">

</head>
<body>
	<img src="https://apps.shopifycdn.com/listing_images/b4ba85e6320eb12499bbeef822052667/icon/d56a78449f31967c40bd2d6dbffd8dfa.png" style="width:80px;height:80px; margin: 10px ">
	</div>
<center>
	<h1 class="titulom"> MARKETFUL RAFA</h1>
 <header>
 	<nav class="navegacion">
 		<ul class="menu">
 				
 			<li><a href="#">Servicios</a>
				
 					<ul class="submenu">
 			<li><a href="https://www.mercadolibre.com.mx/?matt_tool=6523024&matt_word=mercado_libre&gclid=CjwKCAjw1dzkBRBWEiwAROVDLGEphy_orkfKOjluC9gL5JAd3EA3m4n8pNRyMLWOKCkYQtAwJcWw8xoCCusQAvD_BwE" target="_blank" >Mercado Libre</a></li>

 				<li><a href="https://www.facebook.com/marketfulmx/" target="_blank" >Facebook Marketful</a></li>
 				<li><a href="https://twitter.com/marketfulmx?lang=es" target="_blank">Twitter Marketful</a></li>
 						
 					</ul>
 			</li>
 				<li><a href="#">Clientes</a>
					<ul class="submenu">

						<li><a href="https://listado.mercadolibre.com.mx/canica-y-nogal#D[A:canica%20y%20nogal]" target="_blank">Canina & Nogal</a> </li>
						<li><a href="https://morisketa.com/" target="_blank">Morisketa</a></li>
						<li><a href="https://queridaagenda.com/" target="_blank">Querida Agenda</a></li>
						<li><a href="https://spirit-of-drini.mx/" target="_blank">Spirit of Drini</a></li>

					</ul>

					
 				</li>

 				<li><a href="#">Productos</a>
					<ul class="submenu">
							<li><a href="/hola">Nike SB</a></li>	
					</ul>
 				</li>
 					<li><a href="#">Mas Sobre Nosotros</a>

					<ul class="submenu">
						
						<li><a href="https://www.marketful.mx/" target="_blank"> Pagina web </a></li>
					</ul>

 				</li>


 		</ul>

 	</nav>

 </header>
	<div class="info">
 			<h3>Simplifica, Impulsa y Mejora</h3>

			<img src="https://scontent.fntr2-1.fna.fbcdn.net/v/t1.0-9/33848039_2201254746566390_1881743442892029952_n.jpg?_nc_cat=103&_nc_ht=scontent.fntr2-1.fna&oh=aa2ceff72e2191e93ac9599415a77437&oe=5D103122" style="width:400x;height:300px; margin: 20px ">

 			<p>Marketful es una empresa joven con un equipo multidisciplinario, enfocada en brindar a las personas y empresas que comercian en el mercado online, servicios y herramientas tecnológicas para hacer más fácil tanto el proceso de venta, como de distribución de sus productos.</p>
 			<p>Marketful se desprende de la prestigiada corporación dedicada a la logística que es Galmex y comienza a trabajar a partir de 2017 como marca autónoma, tras definir el enfoque de sus esfuerzos hacia los clientes que no solamente tuvieran la necesidad de distribuir sus mercancías, sino también de impulsar sus ventas en el creciente y cada vez más competido terreno del eCommerce.</p>
 			<p>Con este objetivo y esta perspectiva, se trabaja sobre tres ejes de acción que son, simplificar, impulsar y mejorar los procesos implícitos en la venta vía internet; desde la generación de publicaciones para despertar el interés del consumidor, la compra del producto y el manejo puntual del inventario, hasta la transportación de los pedidos a las manos de los clientes finales.</p>
 			<p>El equipo está liderado por un director de operaciones, un director de tecnología y un director comercial, que son jóvenes visionarios que están desarrollando plataformas, sistemas y estrategias propias, para ayudar a sus clientes a llevar sus respectivos negocios al siguiente nivel, independientemente de su tamaño o giro comercial.</p>
 			<p>Entre los servicios principales se encuentra el shipping, con el cual las personas tienen al alcance de un click, la cotización y programación del envío de sus productos con las empresas de paquetería más prestigiadas, a la vez de tener acceso a costos preferenciales y ahorrar en la compra de guías prepagadas.</p>
 			<p>Otra de las innovaciones que Marketful ofrece es, el seller center, un sistema que permite a los comerciantes subir y replicar las publicaciones de su sitio web de ventas, en los marketplaces de su preferencia, con lo cual incrementan instantáneamente su presencia en la red y multiplican sus pedidos. Este sistema, otorga también la facilidad de manejar un solo inventario para los productos que el cliente comercie en línea, pues las existencias se actualizan y sincronizan de forma automática.</p>
 			<p>El servicio que completa las líneas de negocio de esta empresa mexicana, es el Fulfillment, en el cual por su origen en Galmex, posee amplia experiencia. Éste, les da la posibilidad a sus clientes de operar como los retailers más grandes del mundo gracias a la implementación de una logística eficiente que comienza con la recepción de sus mercancías en los almacenes de Marketful e incluye un óptimo manejo de inventario, revisión de calidad, empaquetado y surtido de cada producto conforme lo demandan los pedidos que surgen en la red, de esta forma Marketful se hace cargo de todo para que sus clientes permanezcan concentrados en lo que más le gusta hacer y les genera valor: vender. </p>
	</div>
</center>

</body>
</html>








