/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{

	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box ;
	-moz-box-sizing: border-box ;
	box-sizing: border-box;
}

body{
	background: #313D52;

}
.navegacion{

	width: 800px;
	margin: 30px auto;
	background: #fff;

}
.navegacion ul{
	list-style: none;


}
.menu > li{
	position: relative;

	display: inline-block;

}

.menu > li > a{

	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'sans-serif';
	text-decoration: none;
}

.menu > li > a:hover{
	color: #CE7D35;
	transition: all 0.3s;

}

/*SUBMENUSERVICOS */

.submenu {
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;

}
.submenu > li > a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'sans-serif';
	text-decoration: none;
	
}
.menu  li:hover .submenu{

	visibility: visible;
	opacity: 1;
}

.submenu > li > a:hover{
	color: #CE7D35;
	transition: all 0.3s;

}


/*Index /hola*/

.chamarra{
font-family: 'sans-serif';
color: #fff;

}

.tabla{
	border: 1px solid #fff;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 10px;
}
.tabla td{
text-align: center;
border: 1px solid #fff;
}
.tabla tr:hover{
	background: #CE7D35;
}
.tabla th {
	background: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}
.contenedor{
	margin: 120px auto;
	width: 800px;
}
.tabla th, td{
	padding: 15px;
}
.tabla tr:nth-child(odd){
background-color: #3b3b3b;

}
.tabla tr:hover{
	background: #CE7D35;
}

/*TITULOS*/

.tituloc{
	font-size: 50px;
}
.titulom{
	font-family: 'sans-serif': ;
	color: #fff;
}



/*Boton home*/
.home{
	margin: 40px;
	padding: 0px;
}
.home{
	background: #246355;
	color: #fff;
	display: block;
	font-size: 20px;
	margin: 50px;
	padding: 10px 0px;
	text-align: center;
	width: 80px;
	text-decoration: none;
	border-bottom: solid 5px #0F362D;

}

.info h3{
	font-size: 30px;
	font: bold;
	font-family: 'sans-serif';
	color: #246355;
	background: #fff;
	width: 1050px;
}
.info p{
	
	font-size: 20px;
	font-family: 'sans-serif';
	color: #fff;
	margin: 75px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;

}



